{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %} 
            <div class="{{category}}">{{message}}</div> 
            {% endfor %}
        {% endif %}
        {% endwith %}
    <h1 class="home-title">Welcome to the Store Inventory Management Application!</h1>
    <p class="home-access">Manage your inventory was never so easy, click 
        <a href="{{url_for('users.login')}}">here</a> and start now!
    </p>
</div>
{% endblock content %}