{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %} 
        <div class="{{category}}">{{message}}</div> 
        {% endfor %}
    {% endif %}
    {% endwith %}
    <h1 class="store-title">Store Management Application</h1>
    <table class="products-table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.family}}</td>
                <td>
                    <a href="/increase-product-amount/{{product.id}}">➕</a>  
                    {{product.amount}} 
                    <a href="/decrease-product-amount/{{product.id}}">➖</a>
                </td>
                <td>
                    <a href="/edit-product/{{product.id}}">✏️</a> 
                    | 
                    <a href="/delete-product/{{product.id}}">❌</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" class="store-btn" onclick="window.location.href='/add-product'">Add Product</button>
</div>
{% endblock content %}